<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(content="width=device-width, initial-scale=1.0" name="viewport")
        meta(content="ie=edge" http-equiv="X-UA-Compatible")
        title #{ title }
    body
        a(href='/')
            header
                h1  #{ pageTitle }
        main
            div(id='app')
                block content
            footer MIT © CMD Amsterdam, docs and images are CC-BY-4.0.
        script(src='/scripts/main.js')

