.station {
  &--wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-column-gap: 1em;

    h2 {
      grid-column-end: span 3;
    }
  }

  &--list {
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 0.5em;

    li {
      font-weight: 700;
      font-size: 1.2em;
    }

    ul {
      display: grid;
      grid-template-columns: repeat(2, minmax(200px, 1fr));
      padding-top: 0.5em;

      li {
        font-weight: 400;
        font-size: 1rem;
      }
    }

    li {
      list-style: none;
    }
  }
}

.place {
  &s {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
  }
  margin: 0.5em;
  position: relative;
  &--img {
    width: 320px;
    height: 200px;
    img, .place--description {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    .place--description {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      opacity: 0;
      background-color: rgba(0,0,0,0.5);
      transition: 0.5s ease-in-out;
    }
    &:hover .place--description {
      opacity: 100;
    }
  }
}
